html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
//----- ^ RESET CSS ^  -----//
//--------------------------//
//--- global variables ---//
$color1:rgb(46, 25, 235);
$color2:rgb(211, 68, 25);
$color3:rgb(227, 213, 16);
$color4:rgb(0, 0, 0);
#content{
    height: 100vh;
    background-color: $color2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Martian Mono', monospace;

}

// - - - HOME - - -
.home-wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 20px 0px;
    .hero-img-wrapper{
        //flex: 0 1 auto;
        //display: flex;
        //width: 500px;
        padding: 20px;
        .hero-img{
            //flex:0 1 auto;
            width: 100%;
            max-width: 500px;
            height: auto;


            border-radius: 40px;
            //padding: 20px;
        }
    }
        
        .contact-wrapper{
            font-size: 2.5rem;
            
            .invitation-wrapper{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 10px;
                padding-bottom: 25px;
                .invitation-upper{
                    font-size: 2rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                .invitation-down{
                    font-size: 1.9rem;
                }
            }
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .button{
                
                background-color: red;
                border: none;
                color: white;
                padding: 10px 20px;
                border-radius: 5px;
                text-decoration: none;
                font-size: 1.3rem;
                transition: 2s;
            }

            .button:hover{
                cursor: pointer;
                transform: scale(1.2);
                transition: 2s;
            }
            
        }
}


 //-----MENU-----


 .menu-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    .menu{
        @media (max-width: 601px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }

        width: 100%;
        height: 100%;
        display: grid;
        row-gap: 30px;
        justify-items: center;
        align-items: center;
        
        grid-template-columns: repeat(auto-fit,minmax(300px,50%));
        
        
        
        .dish{
            
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            height: 500px;
            width: 250px;


            padding: 10px;

            border: 3px solid $color3;
            border-radius: 10px;
            background-color: $color3;
            color: $color2;
            
            .name{
                font-size: 1.8rem;
                padding: 10px;
                font-weight: 700;
            }
    
            .photo{
                width: 100%;
                border-radius: 10px;
                
                
            }
            .description{
                flex:1 0 auto;
                padding: 10px;
            }
            .price{
                
                font-weight: 700;
                color: $color1;
            }
        }
    }
   
}

//-----CONTACT-----

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .greetings{
        font-size: 2rem;
    }

    .map-wrapper{
        @media (max-width: 601px) {
            height: 300px;
            width: 300px;
          }
        height: 350px;
        width: 500px;
    }
    .number{
        font-size: 1.45rem;
    }
    .number::before{
        
    }
    .mail{
        font-size: 1.15rem;
    }
    .map{
       
        width: 100%;
        height: 100%;
        border: 4px solid black;
        
        border-radius: 10px;
        background-color: black;

        transition: 3s;
        
    }
    .map-inv{
        transform:scale(0);
        
    }
    



    .button{
        
        background-color: red;
        border: none;
        color: white;
        width: fit-content;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 1.3rem;
        transition: 2s;
    }

    .button:hover{
        cursor: pointer;
        transform: scale(1.14);
        transition: 2s;
    }
}
